/* ......goole fonts...... */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400&display=swap");

/*  ......variyable css*/
:root {
    --header-height:3.5rem;

/* .......colors........ */
/* color mode HSL (hue, saturation, lightness) */

/* 
change favour color
default:hsl (162,100%,40%)
orange: hsl (14,100%,65%) - blue:hsl (210,100%,70%)
pink:hsl (356,100%,75%)-purple:hsl (250,100%,75%)

for more colors visit:https://colors.dopely.top/color-p
-> choose any color
-> click on tab (color conversion)
-> copy the color mode(HSL)

 */

 --hue:162;
--first-color:hsl(var(--hue),100%,40%);
--first-color-alt:hsl(var(--hue),56%,36%);
--title-color: hsl(228,8%,95%);
--body-color: hsl(228,15%,20%);
--container-color: hsl(228,8%,15%);



/* .........font and typography....... */
/* .5rem=8px| 1rem=16px... */

--body-font:'Poppins', sans-serif;
--bigest-font-size:2rem;
--bigger-font-size:1.25rem;
--h1-font-size:1.5rem;
--h2-font-size:1.25rem;
--h3-font-size:1rem;
--normal-font-size:.938rem;
--small-font-size:.813rem;
--smaller-font-size:.75rem;

/* ......font weight....... */
--font-regular:400;
--font-medium:500;
--font-semi-bold:600;
/* .....z index.... */
--z-tooltip:10;
--z-fixed:100;
}

/* ......responsinve typography..... */
@media screen and(min-width:1152px){
:root{
--bigest-font-size:4rem;
--bigger-font-size:2rem;
--h1-font-size:2.25rem;
--h2-font-size:1.5rem;
--h3-font-size:1.25rem;
--normal-font-size:1rem;
--small-font-size:.875rem;
--smaller-font-size:.813rem;

}
}

/* ......BASE....... */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;

}
html{
    scroll-behavior: smooth;
}
input,
textarea,
button,
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color:var(--text-color);
}
input,
textarea,
button{
    outline: none;
    border:none;
}
h1,h2,h3,h4{
    color:var(--title-color);
    font-weight: var(--font-medium);
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
}
img,
svg{
max-width: 100%;
height: auto;
}

/*...... REVESABLE CLASSES..... */

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap:1.5rem;
}
section{
    padding-block: 5rem 2rem;

}
.section--title,
.section--subtitle{
    text-align:center;
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
}
.section--title{

    font-size:var(--h1-font-size);
    margin-bottom: 1.5rem;

}
.section--subtitle{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.section--subtitle span{
color:var(--first-color);

}
.main{
    overflow:hidden; /* for animation scrollReveal*/
}
/* ......HEADER AND NAV..... */

.header{

    position:fixed;
width:100%;
background-color: var(--container-color);
top:0;
left:0;
z-index: var(--z-fixed);

}
.nav{
height: var(--header-height);
display: flex;
justify-content: space-between;
align-items: center;

}
.nan--logo{
    color:var(--title-color);
    font-weight: var(--font-medium);
}
.nan--logo span{
    color: var(--first-color);
}
.nav--close,
.nav--taggle{
    display: flex;
    font-size: 1.25rem;
    color:var(--title-color);
    cursor: pointer;
}

/* navigation for mobile deviices */

@media screen and (max-width:1023px) {
    .nav--menu{
        position: fixed;
        top:0;
        right:-100%;
        background-color: hsla(0,0%,10%,.3);
        width:75%;
        height:100%;
        padding:4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter:blur(24px) ;
        transition: right .4s;
    }
}

.nav--list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.nav--link{
    color:var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav--link:hover{
    color:var(--first-color);
}

.nav--close{
position:absolute;
top:1rem;
right:1.5rem;
}

/* show menu */

.show-menu{
    right:0;
}

/* add blur and header */
.blur-header{
    background-color: transparent;
}
.blur-header::after {
    content: '';
    position:absolute;
    width:1000%;
    height:100%;
    background-color: hsla(0,0%,10%,.3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /*for safari */
    top:0;
    left:0;
    z-index:-1;
}



/* .....  active link .... */

.active--link{
    color:var(--first-color);
}


/* ..... HOME...... */
.home{
background-color: var(--container-color);
}

.home--container{
    padding-top: 2rem;
    row-gap:2.5rem;
}

.home--content{
    display: grid;
    row-gap:2rem;
}
.home--data{
    text-align: center;
}
.home--subtitle,
.home--education{
    font-size:var(--bigest-font-size);
}
.home--subtitle span,
.home--title{
    color:var(--first-color);
}
.home--title{
    font-size:var(--bigest-font-size);
    font-weight: var(--font-semi-bold);
}
.home--description{
    margin-block:1rem 1.5rem;
}
.home--social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.home--social-link{
    display:flex;
    background-color: var(--first-color-alt);
    padding:.5rem;
    color:var(--title-color);
    font-size:1.5rem;
    clip-path:polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 25%) ;
    transition: transform .4s;
}

.home--social-link :hover{
    transform: translateY(-.25rem);
}
.home--image{
    justify-self: center;
}
.home--blob{
    width:320px;
    fill:var(--first-color);
    filter:drop-shadow(0 12px 12px hsla var((--hue),100%,40%,.2) )
}

/* .....BUTTON....  */
.button{
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color:var(--title-color);
    font-weight: var(--font-medium);
    transition: box-shadow .4s;
}
.button :hover{
    box-shadow: 0 8px 24px hsla var((--hue),100%,40%,.25);
}

/* ......ABOUT..... */
.about--container{
    row-gap:2.5rem;
}
.about--data{
    text-align: center;
}
.about--description{
    margin-bottom: 2rem;
}

.about--image{
    justify-content: center;
}
.about--blob{
    width:320px;
}
.about--blob path{
    stroke:var(--first-color); 
}
/* ......SKILSS.... */
.skills{
    background-color:var(--containrer-color);
}
.skills--container{
    padding-bottom: 2rem;
    row-gap:3.5rem;
}
.skills--data{
    text-align: center;
}
.skills--description{
    margin-bottom: 2rem;
}
.skills--content,
.skills--group{
    display: grid;
}
.skills--content{
    grid-template-columns: repeat(2,max-content);
    column-gap: 4rem;
    justify-content: center;
    align-items: baseline;
}
.skills--group{
    row-gap: 1rem;
    list-style: decimal-leading-zero;
}
.skills--item{
    font-weight: var(--font-medium);
    color: var(--z-tooltip);  
}
.skills--item::marker{
    color: var(--first-color);
}

/* ......SERVICES....*/
.services--container{
    row-gap:2rem;
    padding-block:1rem;
}
.services--card{
    text-align:center;
    background-color: var(--container-color);
    padding: 3rem 1.25rem;
    border-radius: 1rem;
    border:2px solid var(--container-color);
    transition: border .4s;
}
.services--card:hover{
    border:2px solid var(--first-color);



}

.services--icon{
    display: block;
    font-size: 4rem;
    color:var(--first-color);
    margin-bottom: .75rem;
}
.services--title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}
/* ......PROJECTS.... */

.projects{
    background-color: var(--container-color);
}
.projects--container{

    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;

}
.projects--card{
    position:relative;
    border-radius: 1rem;
    overflow:hidden;
}
.projects--img{
    width:100%;
    height:100%;
}
.projects--modal{
    position:absolute;
    left:0;
    bottom: -100%;
    width:100%;
    height: 100%;
    background:linear-gradient(180deg,
    hsla(0,0%,0)0%,
    hsla(var(--hue),70%,40%,.8)120%);
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);/* for safari*/
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:bottom .4s;
}
.projects--subtitle,
.projects--button{
    color:var(--title-color);
    font-size: var(--smaller-font-size);
}

.projects--subtitle{
    display: block;
    margin-bottom:.25rem;
}
.projects--title{
    font-size:var(--h2-font-size);
    margin-bottom: .75rem;
}
.projects--button{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}
.projects--button i{
    font-size:1.25rem;
}
.projects--card:hover .projects--modal{
    bottom:0;
}
/* ......CONTACT.... */
.contact--container{
    padding-top:1rem;
}
.contact--form,
.contact--group{
    display: grid;
    row-gap:1rem;
}
.contact--form{
    position: relative;
}
.contact--input{
    padding:1rem 1.25rem;
    border-radius:.5rem;
    background-color: var(--container-color);
    color:var(--title-color);
}
.contact--input::placeholder{
    color: var(--text-color);
}
.contact--form textarea{
    height: 11rem;
    resize: none;
    margin-bottom: 2rem;
}
.contact--button{
    justify-self: center;
    cursor:pointer;

}
.contact--message{
    position: absolute;
    left:0;
    bottom:4.5rem;
    font-size:var(--small-font-size);
    color:var(--title-color);
}


/* ........FOOTER........ */
.footer{
    background-color: var(--container-color);
    padding-block: 3.5rem 2rem;
}
.footer--container{
    row-gap: 2rem;
    text-align: center;
}
.footer--title{
    font-size: var(--h1-font-size);
    font-weight: var(--first-color-alt);
    margin-bottom:.25rem;
}
.footer--title span{
    color:var(--first-color);
}
.footer--education{
    font-size: var(--normal-font-size);
}
.footer--social{
    display: flex;
    justify-content: center;
    column-gap: 1.25 rem;
}
.footer--social-link{
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color:var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon();
    transition: transform .4s;
}
.footer--social-link:hover{
    transform: translateY(-.25rem);
}
.footer--copy{
    font-size: var(--small-font-size);
    margin-top: 2rem;
}


/* ........SCROLL BAR...... */

::-webkit-scrollbar{
    width: .6rrem;
    border-radius: .5rem;
    background-color: hsl(228,12%,25%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(228,8%,35%);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(228,8%,45%);
}



/* .........SCROLL UP........ */

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    padding: 6px;
    display: inline-flex;
    border-radius: .25rem;
    color:var(--first-color);
    font-size: 1.25rem;
    box-shadow: 1 4px 12px hsla(228,15%,8%,.4);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
}


/* show scroll up... */
.show-scroll{
    bottom:3rem;
}


/*......... BREAK POINTS........ */

/* for small devices... */
@media screen and (max-width: 320px){
    .container{
        margine-inline:1rem;
    }
    .skills--content{
        grid-template-colums:max-content;
        row-gap:1rem;
    }
.services--card{
    padding-block:1.5rem;
}

}

/* for medium devices... */
@media screen and (min-width: 576px){
    .home--container,
    .about--container,
    .skills--container,
    .services--container,
    .projects--container,
    .contact--container{
        grid-template-columns: 360px;
        justify-content: center;
    } 
}
@media screen and (min-width: 768px){
    .nav--menu{
        width:55%;
    }

    .home--container
    .about--container
    .skilss--container{
        grid--template-columns:repeat(2, 1fr);
        align-items:  center;
    }

.home--data,
.about--data,
.skills--data,
:is(.about--data,.skills--data) :is(.section--subtile, .section--title){
    text-align: initial;
}

.home--social{
    justify-content: initial;
}
.home--blob,
.about--blob{
    width: 400px;
}
.about--data{
    order:1;
}
.services--container,
.projects--container{ 
    grid-template-columns: repeat(2, 352px);
}

}

/* for  large devices... */
@media screen and (min-width: 1023px){
    .section{
        padding-block: 7rem 2rem;
    }
.section--subtitle{
    font-size: var(--normal-font-size);
}
.nav{
    height: calc(var(--header-height) + 1.5rem);
}
.nav--close,
.nav--taggle{
    display: none;
}
.nav--list{
    flex-direction: row;
    column-gap: 3rem;
}
.nav--menu{
    width:initial;
}
.blur-header::after{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);/* for safari*/
}
}
@media screen and (min-width:1152px){
    .container{
        margin-inline: auto ;
    }
.home--container{
    column-gap: 7rem;
    grid-template-columns: 455px 550px;
    padding-block: 2rem 3rem;
}
.home--blob{
    width:550px;
}
.home--content{
    row-gap: 4.5rem;
}
.home--description{
    margin-block:1.5rem 2.5rem;
}
.home--social{
    column-gap: 1.5rem;
}
.about--container{
    grid-template-columns: 550px 460px;
    column-gap: 4.5rem;
    padding-bottom: 1rem;
}
.about--blob{
    width:550px;
}
.about--description{
    margin-bottom: 3rem;
}
.skills--container{
    grid-template-columns: 340px 425px;
    column-gap: 10rem;
    padding-bottom: 4rem;
}

.skills--content{
    column-gap:8rem ;
}
.skills--group{
    row-gap:1.5rem;
}
.skills--item{
    font-size: var(--h3-font-size);

}
.services--container{
    grid-template-columns: repeat(3, 352px);
    padding-block:2.5rem 4rem;
}
.services--card{
    padding: 3.5rem 2rem;

}

.projects--container{
grid-template-columns: repeat(3, 350px);
row-gap:3rem;
padding-block:2.5rem 4rem ;    
}
.projects--button{
    font-size: var(--normal-font-size);
}
.conatact--container{
grid-template-columns:680px ;
padding-block:2.5rem 2rem;
}
.contact--form{
row-gap: 1.5rem;
}
.contact--group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}
.contact--input{
    padding: 1.5rem;
}
.contact--form textarea{
    height: 20rem;
}
.footer{
    padding-block:4.5rem 4rem ;
}
.footer--container{
    grid-template-columns: repeat(3, 1fr );
    align-items: center;
    text-align: initial;
}
.footer--title{
    font-size: var(--bigger-font-size);
}
.footer--social{
    grid: gap 1.5rem;
}
.footer--copy{
    margin:0;
    justify-self: flex-end;
}
.scrollup{
    right: 3rem;
}

}


/* ......SKILSS.... */
